body{
    background: url("/assets/img/back_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    margin-top: 30px;
    margin-bottom: 50px;
}

.alert{
    margin-top: 10px;
}

.btn-info:focus, .btn-info:hover{
    box-shadow: 0 6px 6px rgba(70, 70, 70, 0.78);
}